@font-face {
    font-family: njnaruto;
    src: url(njnaruto.ttf);
}
@font-face {
    font-family: adelia;
    src: url(ADELIA.otf);
}

@font-face {
    font-family: nice;
    src: url(Nice\ Honey.otf);
}
body{
    background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
}
body{
    font-family:njnaruto;
    background-image: url(narutin.gif);
    color: rgb(250, 232, 232);
    font-size: 15px;
}
.começo{
    background-color: rgb(231, 112, 33, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 20px rgb(0, 0, 0, 0.2);
    
}

.player{
    padding: 10px;
    background-color: rgb(229, 255, 0, 0.7);
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-family: njnaruto;
    color: rgb(255, 255, 255);
    
}

.botao{
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    border: white;
    width: 50%;
    font-family: adelia;
    color: aliceblue;
    cursor: pointer;
    
}

.button{
    text-align: center;
}


h2{
   font-family: nice;
   font-size: 25px;

}

button {
    color: white;
    background: rgb(0, 0, 0);
    transition: transform 1s;
    transform: translateX(10) scale(0.5);
  }
  
  button:hover,
  button:focus {
    background: rgb(12, 26, 155);
    transform: translateX(10px) scale(1.2);
  }
  
  
  .começo{
    color: rgb(255, 255, 255);
    background: rgba(0, 238, 255, 0.4);
    transition: background 1s;
  }
  
  .começo:hover,
  .começo:focus {
    background: rgb(255, 115, 0, 0.7);
  }
  
  h2{
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }

  h2{
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 119, 255, 0.9);
  }
  
  h1{
    text-shadow: 0.1em 0.1em 0.05em rgba(255, 94, 0, 0.9);
  
  }

  p {
    color: white;
    transition: transform 1s;
    transform: translateX(10) scale(0.5);
  }
  
  p:hover,
  p:focus {
    transform: translateX(10px) scale(1.2);
  }